<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>激活成功</title>
	<link rel="stylesheet" type="text/css" href="../build/components/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../build/css/registe_success.min.css">
</head>
<body>
	<div class="contents">
		<div class="leftt">
			<img src="../build/img/sucess.jpg">
		</div>
		<div class="rightt">
			<p class="p1">恭喜您：激活成功！</p>
			<p class="p2">您可以使用刚刚注册的账号登录了，<a href="../login">点击登录！</a></p>
		</div>
		<div style="clear: both"></div>
	</div>
</body>
</html>