<% include adminHead %>
<div class="col-xs-10 col-xs-offset-2 content">
        <div class="row con-bar">
          <div class="col-xs-3 col-xs-offset-4 con-title">
            欢迎来到图书管理中心
          </div>
        </div>
        <div class="row book-row">
          <div class="col-xs-10">
            
          </div>
        </div>
      </div>
<% include adminFooter %>