<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="../build/components/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../build/css/admin.min.css">
  <link rel="stylesheet" type="text/css" href="../build/components/awesome/font-awesome.min.css">
  <% if(typeof(css) != 'undefined'){
    for(var i = 0;i<css.length;i++){
  %>
      <link rel="stylesheet" type="text/css" href="../build/<%= css[i] %>">
    <%}}%>
</head>
<body>
 <div class="container-fluid results-box person-box">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1">
        <ul class="left-nav" id="left_nav">
          <li class="active">修改密码</li>
        </ul>
      </div>
          <!-- 修改密码 -->
        <div class="row" id="change-password">
          <div class="form-horizontal">
              <div class="form-group">
                <label for="password" class="col-sm-2 control-label">当前密码</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="old-pass" placeholder="当前密码">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="new-pass" placeholder="新密码">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" id="submit-pass">确定</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  
<% if(typeof js != "undefined"){ 
  for(var i = 0; i<js.length;i++){
  %>

  <script type="text/javascript" src="../build/<%= js[i] %>"></script>

<%}}%>
</body>
</html>