<% include adminHead %>
<div class="col-xs-10 col-xs-offset-2 content">
    <div class="row search-group">
      <div class="input-group col-xs-6">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="search-way">
            <span>书名搜索&nbsp;</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="drop">
            <li class="active"><a href="javascript:void(0)">书名搜索</a></li>
            <li><a href="javascript:void(0)">编号搜索</a></li>
          </ul>
        </div><!-- /btn-group -->
        <input type="text" class="form-control" id="search-key">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 book-list">
        <table class="table table-bordered table-hover" id="results">
          <thead>
            <tr>
              <th>#</th>
              <th>书名</th>
              <th>作者</th>
              <th>编号</th>
              <th>标准书号</th>
              <th class="info">编辑</th>
              <th class="danger">删除</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" id="page-row">
      <div class="col-xs-10">
         <nav class="page-nav">
          <ul class="pagination" id="pagination">
            <li id="pre-page">
              <a href="javascript:void(0)" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
              </a>
            </li>
            <li id="page-num"><a href="javascript:void(0)">1</a></li>
            <li id="next-page">
              <a href="javascript:void(0)" aria-label="Next">
                <span aria-hidden="true">下一页</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>   
</div>
<% include adminFooter %>