<div class="container-fluid top">
		<div class="row">
			<div class="col-xs-2">
				<a href="/" class="title">图书馆在线系统</a>
			</div>
			<div class="col-xs-1 col-xs-offset-8 user">
				<div class="user-col">
					<span>
						<span>用户：</span>
						<%= userName %>
					</span>
					<ul class="user-list">
						<li>
							<i class="icon-user"></i>
							<a href="/user/personal">个人中心</a>
						</li>
						<li>
							<i class="icon-credit-card"></i>
							<a href="/user/borrowrecord">借阅历史</a>
						</li>
						<li>
							<i class="icon-file-alt"></i>
							<a href="/user/borrow">在借书籍</a>
						</li>
						<li>
							<i class="icon-signout"></i>
							<a href="/user/logout">退出</a>
						</li>
					</ul>
				</div>
				
			</div> 
		</div>
	</div>