.top{
	width : 100%;
	height: 50px;
	background-color: #3498DB;
}
.mid{
	width:60%;
	height: 100%;
/*	background-color: red;*/
	margin:0 auto;
}
.top_contain_left{
	float:left;
}
.top_contain_right{
	float:right;
}
.name{
	font-size: 16pt;
	color: #fff;
	line-height: 50px;
}
.b_index{
	font-size: 16pt;
	color: #fff;
	line-height: 50px;
}
.book{
	font-size: 16pt;
	color: #fff;
	margin:0 auto;
	line-height: 50px;
	margin-left: 10px;
}
.home{
	font-size: 16pt;
	color: #fff;
	margin:0 auto;
	line-height: 50px;
	margin-left: 190px;
}
.user{
	font-size: 16pt;
	color: #fff;
	margin:0 auto;
	line-height: 50px;
	margin-right: 10px;
}
.user:hover{
	cursor: pointer;
}
.drop{
	font-size: 16pt;
	color: #fff;
	margin-top: 3px;
	height: 44px;
	background-color: #3498DB;
}
.drop:hover{
	color: #fff;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/*upers are the top's css*/
.con{
	margin: 0 auto;
	margin-left: 40px;
}
.p1{
	font-size: 14pt;
}
body{
	overflow-y: hidden;
}