html,body{
	width: 100%;
	height: 100%;
}
.contents{
	width: 60%;
	height: 100%;
	/*background-color: blue;*/
	margin: 0 auto;
	border: 1px solid transparent;
}
.header{
	font-size: 22pt; 
	width: 20%;
	margin : 50px auto;
}
.icon-user{
	font-size: 30pt;
}
.hr1{
	box-shadow: 0 0 5px #f0f0f0;
	width: 80%;
	color: gray;
}
.btn-loca{
	margin-left: 90px;
}
.boder{
	margin : 10px auto;
	width: 60%;
}
.adio-inline1{
	margin-left: 20px;
}
.wrong{
	color: red;
}